.guess-the-number_content--result, .guess-the-number_content--input, .guess-the-number__title {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

.guess-the-number {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.guess-the-number__title {
  color: black;
}
.guess-the-number_content {
  display: grid;
  width: 576px;
  margin-top: 36px;
  align-items: center;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.guess-the-number_content__box {
  display: flex;
}
.guess-the-number_content--input {
  width: 125px;
  border-radius: 20px 0 0 20px;
  background: #D7D7D7;
  font-size: 12px;
  line-height: 14.63px;
  border: 0;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
  color: #7e7e7e;
  padding-left: 10px;
}
.guess-the-number_content--button {
  width: 35px;
  height: 35px;
  border-radius: 0 20px 20px 0;
  background-color: black;
  border: 0;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2509803922);
}
.guess-the-number_content--search {
  width: 15px;
  height: 15px;
}
.guess-the-number_content--result {
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1090px;
  margin: 0 auto;
}