@charset "UTF-8";
.container {
  width: 1440px;
  margin: auto;
  background-color: #f5f5f5;
  margin-top: 80px;
  background-image: url("C:/Users/Owner/OneDrive/Документи/GitHub/Games-Project/scss/src/main-games.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  width: 1090px;
  height: 3202px;
  background-color: #fff;
  margin: auto;
}

.main-title {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  padding-top: 116px;
}