%main-font {
font-family: 'Montserrat Alternates';
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;

}
%second-font {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    
}
%button-scientist {
padding: 10px;
border-radius: 20px;
background-color: $mainColor;
border: none;
font-family:'Montserrat Alternates';
color: #FFFFFF;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
height: 35px;

}