%main-font {
font-family: 'Montserrat Alternates';
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;

}
%second-font {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    
}