.box-space {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center
}

.text__check-year {
    @extend %main-font;
}

.input-year {
    width: 215px;
    height: 35px;
    box-shadow: 3px 3px 0px 0px #00000040;
    background: #D7D7D7;
    border-radius: 20px;
    border: none;
}

.container-check-year {
    display: grid;
    align-items: center;
    width: 578px;
    grid-template-columns: repeat(2, 1fr);
}

.button-year {
    border: none;
    background: none;

}

.result-input {
    @extend %main-font;
    font-size: 12px;
    line-height: 15px;

    &__green {
        color: #039900;
    }

    &__red {
        color: #990000;

    }
}

.box-input {
    display: flex;
}

#icon {
    transform: translate(-35px, );
}