.our-team {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    @extend %main-font;
    font-style: italic;
    margin-bottom: 15px;
  }

  &__carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_indicator {
      margin-top: 10px;
      font-size: 16px;
      display: flex;
    }

    &_container {
      display: flex;
      overflow: hidden;
      width: 80%;
    }

    &_inner {
      flex-wrap: nowrap;
      display: flex;
    }

    &_card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 100%;
      transition: transform 0.5s ease-in-out;

      &-img {
        max-width: 100%;
        width: 150px;
        height: 150px;
        border-radius: 20px;
      }

      &-title {
        @extend %main-font;
        margin-bottom: 15px;
      }

      &-subtitle {
        @extend %second-font;
        text-align: center;
      }
    }

    &-btn {
      width: 50px;
      height: 100px;
      background-color: transparent;
      border: none;
      color: $mainColor;
    }
  }
}

.indicator-dot {
  width: 15px;
  height: 5px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: darkgray;
  transition: background-color 0.3s;

  &.active {
    width: 25px;
    background-color: gray;
  }
}
