.sctVSscVSpa{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__answer{
        font-family: 'Montserrat Alternates';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        font-style: italic;
        color: $secondColor;
        margin-top: 15px;
    }

    &__bth{
        width: 160px;
        height: 35px;
        text-align: center;
        color: #fff;
        background-color: $mainColor;
        border-radius: 20px;
        border: 0;
        margin-top: 36px;

    }

    &__title{
        @extend %main-font;
        font-style: italic;
        margin-bottom: 15px;
    }

    &__box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_bth{
            width: 256px;
            display: flex;
            justify-content: space-between;
            margin-right: 105px;
            margin-left: 220px;

            &--vs{
                width: 60px;
                height: 60px;
                border-radius: 20px;
                border-color: $mainColor;
                background-color: $mainColor;
            }
        }

        &_scoreboard{
            width: 120px;
            display: flex;
            flex-direction: column;

            &--txt{
                font-family: 'Montserrat Alternates';
                font-size: 16px;
                font-weight: 400;
                line-height: 19.5px;
                font-style: italic;
                margin-bottom: 15px;

                &-score::after{
                    content: '0';
                }
            }
        }
    }
}